* {
    font-family: monospace;
    color: black;
}

body {
    
    margin: 20px;
}

form {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

input,
textarea {
    display: block;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: .5rem 1rem;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
}